.App {
  text-align: center;
}

.car-section {
  width: 300px;
  border: 2px solid rgb(131, 93, 168);
  padding: 5px;
  border-radius: 5px;
}
.car-section img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border: 1px solid rgb(121, 95, 95);
}
.car-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
}
.car-description p {
  font-weight: 700;
}
.car-mother {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.car-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-button button {
  font-size: 15px;
  background-color: chartreuse;
  color: rgb(17, 17, 14);
  padding: 8px 14px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
